
.texto:hover{
    background-color: rgb(151, 250, 121);
    
}
h1{
    color:rgb(218, 214, 214);
    display: flex;
    justify-content: center;
}
h2{
    color: white;
}
h3{
    color: rgb(218, 214, 214);
}
html{
    background-color: rgb(24, 24, 24);
}

body{
    background-color: rgb(24, 24, 24);
}
.bienv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 80%;
    margin-left: 10%;
    color: rgb(218, 214, 214);
}

.nov{
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: rgb(218, 214, 214);
}
.coach:hover{
    background-color:rgb(151, 250, 121) ;
    color: black;
}
.coach{
    text-decoration: tomato;
}
.atlet:hover{
    background-color: rgb(151, 250, 121);
    color:black;
}
.text{
    color: white;
}
.nos{
    margin-top: 50px;
}
.blog{
    margin-bottom: 70px;
}
.carro{
    margin-left: 10%;
    margin-right: 10%;
}


span{
    color: rgb(252, 66, 66);
}



.nos1{
    color: rgb(97, 73, 134);
    font-size: large;

}
.nosotros{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.espacio{
    display: none;
}

.mein{
    margin-top: 80px;
}
.tarj{
    width: 28%;
    margin-right: 2%;
    margin-left: 2%;
}
footer{
    width: 100%;
}

@media (max-width:768px){

    .carro{  
        height: 55%;
    }
    .w-100{
        height: 5%;
    }
   
    .blogUno{
        display: flex;
        flex-direction: column-reverse;
    }
    .fotoNos{
            display: none;
        }
    .tarjetas{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .tarj{
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (min-width:769px) and (max-width: 991px){

    .w-100{
        height: 55%;
    }

    .fotoNos{
        height: auto;
        width: 25vh;
    }
    .Uno{
        display: flex;
        display: inline;
    }
    .tarj{
        width: 30%;
        margin-right: 5px;
        margin-left: 5px;
        height: auto;
        
    }
    .espacio{
        display: none;
    }
    .somos{
        margin-left: 15%;
    }
}